body {
    color: white;
    margin: 0px;
    background: black;
}
header{
    border-bottom: solid 2px red;
    padding: 20px;
    color: blue;
}

section{
    background-color:aquamarine;
    padding-top:80px;
    padding-bottom:80px;
    display: flex;
    justify-content:center;
    
}